.main-section {
  background-color: $background-color;
  min-height: 100vh;
  padding: 20px 0;

  @include is-desktop {
    padding: 40px 0;
    &--grid {
      display: grid;
      grid-template-columns: 405px 580px;
      grid-template-rows: 100px 1fr;
      justify-content: space-between;
    }
  }
}
