.main-section {
  background-color: $background-color;
  min-height: 100vh;
  padding: 20px 0;

  @include is-desktop {
    &--flex {
      display: flex;
      justify-content: space-between;
      gap: 16px;
    }
  }
}
