@mixin is-desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin is-small-mobile {
  @media (min-width: $small-mobile) {
    @content;
  }
}

@mixin overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba($color: $text-color, $alpha: 0.8);
  z-index: 1;
}
