* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  h1 {
    color: $headings-color;
  }
}

.container {
  padding: 0 8px;
  margin: 0 auto;
  width: 100%;

  @media screen and (min-width: $tablet) {
    padding: 0;
    max-width: 752px;
  }

  @media screen and (min-width: $desktop) {
    max-width: 976px;
  }

  @media screen and (min-width: $large-desktop) {
    max-width: 1264px;
  }
}
