.spinner {
  @include overlay;

  &__loader {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 5px solid $detail-color;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
